
<f:if condition="{settings.pager.insertAbove}">
    <f:render section="paginator" arguments="{pagination: pagination, totalItems:totalItems, filter:contentArguments.filter}" />
</f:if>

<f:if condition="{contentArguments.publications}">
	<f:then>
		<f:render partial="Pure/Publications" arguments="{publications: contentArguments.publications}" />
	</f:then>
</f:if>

<f:if condition="{contentArguments.activities}">
	<f:then><f:render partial="Pure/Activities" arguments="{activities: contentArguments.activities}" /></f:then>
</f:if>

<f:if condition="{contentArguments.pressMedia}">
	<f:then><f:render partial="Pure/PressMedia" arguments="{pressMedia: contentArguments.pressMedia}" /></f:then>
</f:if>

<f:if condition="{contentArguments.projects}">
	<f:then><f:render partial="Pure/Projects" arguments="{projects: contentArguments.projects}" /></f:then>
</f:if>

<f:if condition="{settings.pager.insertBelow}">
    <f:render section="paginator" arguments="{pagination: pagination, totalItems:totalItems, filter:contentArguments.filter}" />
</f:if>


<f:section name="paginator">

<div class="c-pagination">


			<f:if condition="{pagination.pages}">
				<f:then>
          <div class="col-md-6 c-pagination__totalResults">
			  <!--{f:translate(key:'pagination.outOf')} {totalItems.totalItems}-->
            {f:translate(key:'pagination.totalItems')} {totalItems.from} {f:translate(key:'pagination.to')} {totalItems.to} </div>
          <div class="col-md-6">
						<div class="pagination-container" style="display:flex;justify-content:flex-end;align-items:center;">
							<div class="pagination">
								<!-- First -->
								<f:if condition="{pagination.isFirstPage}">
									<f:else>
										<span class="first">
											<f:link.page><span class="c-pagination__item c-pagination__first">First</span></f:link.page>
										</span>
									</f:else>
								</f:if>


								<!-- Previous -->
								<f:if condition="{pagination.previousPage}">
									<f:then>
										<span class="previous">
											<f:if condition="{pagination.previousPage} > 1">
												<f:then>
													<f:link.page additionalParams="{currentPage: pagination.previousPage}" addQueryString="TRUE"  addQueryStringMethod="POST"><span class="c-pagination__item c-pagination__previous"></span></f:link.page>
												</f:then>
											</f:if>
										</span>
									</f:then>
								</f:if>


								<!-- Numbered pages -->
								<span  style="margin-left:0.5em;margin-right:0.5em;">
								<f:for each="{pagination.pages}" as="page">
									<f:if condition="{page.isCurrent}">
										<f:then>
											<span class="current">{page.number}</span>
										</f:then>
										<f:else>
											<span>
												<f:link.page additionalParams="{currentPage: page.number}" addQueryString="TRUE" addQueryStringMethod="POST">{page.number}</f:link.page>
											</span>
										</f:else>
									</f:if>
								</f:for>
								</span>

								<!-- Next -->
								<f:if condition="{pagination.nextPage}">
									<f:then>
										<span class="next">
										<f:link.page additionalParams="{currentPage: pagination.nextPage}" addQueryString="TRUE"  addQueryStringMethod="POST"><span class="c-pagination__item c-pagination__next"></span></f:link.page>
										</span>
									</f:then>
								</f:if>



								<!-- Last -->
								<f:if condition="{pagination.isLastPage}">
									<f:else>
										<span class="last">
										<f:link.page additionalParams="{currentPage: pagination.lastPage}" addQueryString="TRUE"  addQueryStringMethod="POST"><span class="c-pagination__item c-pagination__last" />Last</f:link.page>
										</span>
									</f:else>
								</f:if>
							</div>
						</div>
				</f:then>
			</f:if>
		</div>
	</div>
</f:section>
